<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of the Cyprus Fuel Guide server.
  ~
  ~ The Cyprus Fuel Guide server is free software: you can redistribute it
  ~ and/or modify it under the terms of the GNU General Public License as
  ~ published by the Free Software Foundation, either version 3 of
  ~ the License, or (at your option) any later version.
  ~
  ~ The Cyprus Fuel Guide server is distributed in the hope that it will be
  ~ useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
  ~ Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar. If not, see <http://www.gnu.org/licenses/>.
  -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--Admin Mappings-->
    <servlet>
        <servlet-name>AddApiKeyServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.admin.AddApiKeyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddApiKeyServlet</servlet-name>
        <url-pattern>/admin/add-api-key</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnableOrDisableApiKeyServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.admin.EnableOrDisableApiKeyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnableOrDisableApiKeyServlet</servlet-name>
        <url-pattern>/admin/enable-or-disable-api-key</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrEditParameterServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.admin.AddOrEditParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrEditParameterServlet</servlet-name>
        <url-pattern>/admin/add-or-edit-parameter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteEntityServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.admin.DeleteEntityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEntityServlet</servlet-name>
        <url-pattern>/admin/delete-entity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Parameters</servlet-name>
        <jsp-file>/admin/Parameters.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Parameters</servlet-name>
        <url-pattern>/admin/parameters</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Stations</servlet-name>
        <jsp-file>/admin/Stations.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stations</servlet-name>
        <url-pattern>/admin/stations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Prices</servlet-name>
        <jsp-file>/admin/Prices.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prices</servlet-name>
        <url-pattern>/admin/prices</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Console</servlet-name>
        <jsp-file>/admin/Console.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Console</servlet-name>
        <url-pattern>/admin/console</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminSyncServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.admin.AdminSyncServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSyncServlet</servlet-name>
        <url-pattern>/admin/sync-prices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSyncServlet</servlet-name>
        <url-pattern>/admin/sync-stations</url-pattern>
    </servlet-mapping>
    <!--End of Admin Mappings-->

    <!--Internal Sync servlet mappings-->
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.sync.RequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/sync/request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PollServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.sync.PollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PollServlet</servlet-name>
        <url-pattern>/sync/poll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDatastoreServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.sync.UpdateDatastoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDatastoreServlet</servlet-name>
        <url-pattern>/sync/updateDatastore</url-pattern>
    </servlet-mapping>
    <!--End of Internal Sync servlet mappings-->

    <!--External API servlet mappings-->
    <servlet>
        <servlet-name>ApiSyncServlet</servlet-name>
        <servlet-class>com.aspectsense.fuel.server.api.ApiSyncServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiSyncServlet</servlet-name>
        <url-pattern>/api/sync</url-pattern>
    </servlet-mapping>
    <!--End of External API servlet mappings-->

    <!--Security constraints-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>api</web-resource-name>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cron</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <!--End of Security constraints-->

</web-app>